**/node_modules
**/dist
**/*.tsbuildinfo
.git
.github
.self-host
noodle.service.yaml
**/.env
**/.env.*
!**/.env.example
**/*.key
**/*.pem
**/*.credentials
**/*.secrets.json
**/secrets.json
coverage
docs
contract
apps/cloud-service
apps/console
apps/docs
apps/site-assistant
apps/website
**/test
**/*.log
.DS_Store
